/*
Theme Name:     Kadence Child
Theme URI:      https://conversationware.co.uk
Template:       kadence
Author:         Conversationware
Author URI:     https://conversationware.co.uk
Description:    Kadence Child Theme
Version:        1.0.0
License:        GNU General Public License v3.0 (or later)
License URI:    https://www.gnu.org/licenses/gpl-3.0.html
*/
:root {
	--global-md-spacing: 0.8rem;
}
/* h1, h2,h3{
	font-weight: 700;
} */

/**widgets**/
h2.widget-title {
    font-size: 28px !important;
}
.sidebar-inner-wrap{
	margin-top: 40px;
}
/* .primary-sidebar.widget-area .widget li::marker{
	content: url('https://kadence-start.website-build.info/wp-content/uploads/2022/01/Polygon-3.png');
	position: relative;
} */
.widget-area li a{
	margin-left: 8px;
}
.widget-area li a:hover{
	text-decoration: none !important;
	color: #3182ce !important;
}
.footer-widget-area-inner.site-info-inner{
color: white !important
}
.site-footer-middle-section-3 ul.wp-block-social-links {
    padding: 0;
}
.footer-widget-area-inner.footer-navigation-inner li a {
    margin-right: 20px;
}
ul.menu-footer-custom.wp-block-page-list ul.submenu-container {
    display: none;
}
ul.menu-footer-custom.wp-block-page-list li{
	list-style: none !important;
	margin: 10px 0;

}
ul.menu-footer-custom.wp-block-page-list{
	margin: 0 !important;	
}
.footer-partners img{
	margin: 10px 0;
}
ul.menu-footer-custom.horizontal.wp-block-page-list li.wp-block-pages-list__item {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.site-footer-middle-section-3 ul.wp-block-social-links li {
    background: white !important;
    color: #283134 !important;
}
span#text-footyer-left-title {
    float: left;
    width: 35%;
}
span#text-footyer-left {
    float: left;
    width: 65%;
}
.entry{
	box-shadow: none !important;
}
.contact-sidebar .gform_wrapper.gravity-theme .gfield.gfield--width-half {
    -ms-grid-column-span: 6;
    grid-column: span 12;
}


/** FAQs **/
.after-content-faq-container {
    padding: 40px 0;
    max-width: 1415px;
    margin: 0 auto;
    display:block;
}
.faq-main-wrap{
	width: 100% !important;
}
.faq-main-wrap > h2{
	color: #2d3748;
	font-size:35px;
	text-align: center;
	margin-bottom: 26px;
}
.faq-main-wrap .cw_faq {
	margin-bottom: 26px;
	width: 100%;
	border: 1px solid #2d3748;
  	padding: 35px 20px 40px;
}
.faq-main-wrap .cw-schema-header {
  	color: #0A2B51;
	font-size: 25x;
  	font-weight: 700;
    position: relative;
    padding-left: 32px;
  	margin-bottom: 20px;
}
.faq-main-wrap .cw-schema-header:before {
    content: 'Q:\00a0';
    position: absolute;
	
	left: 0px;
}
.faq-main-wrap .cw-schema-text {
    font-size: 18x;
    position: relative;
  	padding-left: 32px;
}
.faq-main-wrap .cw-schema-text::before{
    content: 'A:\00a0';
  
    position: absolute;
    left: 0;
}
.faq-main-wrap .cw-schema-text p:last-child {
	margin-bottom: 0;
}
@media screen and (min-width: 992px) {
	.after-content-faq-container .faq-main-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
		
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
  	.after-content-faq-container .faq-main-wrap > h2 {
    	width: 100%;
	}
	.after-content-faq-container .cw_faq {
		-webkit-box-flex: 0;
    	-webkit-flex: 0 0 -webkit-calc(50% - 9px);
       	-moz-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 9px);
		flex: 0 0 calc(50% - 9px);
		
		max-width: -webkit-calc(50% - 9px);
		max-width: calc(50% - 9px);
	}
}
@media screen and (max-width: 1199px) {
	.after-content-faq-container {
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media screen and (max-width: 1537px)
{
html{
    zoom: 85%;
}
}
#field_2_15 {
	display: inline-flex;
	width: 100%;
}
#field_2_15 input {
	border: 0px;
	box-shadow: 0px; 
	width: 100%;
    margin-top: -10px;
}

label.gfield_label {
    font-size: 14px !important;
}
.gform_wrapper.gravity-theme input[type=color], .gform_wrapper.gravity-theme input[type=date], .gform_wrapper.gravity-theme input[type=datetime-local], .gform_wrapper.gravity-theme input[type=datetime], .gform_wrapper.gravity-theme input[type=email], .gform_wrapper.gravity-theme input[type=month], .gform_wrapper.gravity-theme input[type=number], .gform_wrapper.gravity-theme input[type=password], .gform_wrapper.gravity-theme input[type=search], .gform_wrapper.gravity-theme input[type=tel], .gform_wrapper.gravity-theme input[type=text], .gform_wrapper.gravity-theme input[type=time], .gform_wrapper.gravity-theme input[type=url], .gform_wrapper.gravity-theme input[type=week], .gform_wrapper.gravity-theme select, .gform_wrapper.gravity-theme textarea {
    padding: 13px 20px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    background: #f7f7f7;
}
input[type="submit"] {
    font-weight: 500;
}