.faq-item.hidden {
    display: none;
}

h5.faq-item-title {
    background-color: var(--global-palette5);
    color: var(--global-palette9);
    font-size: 18px;
    padding: 20px 15px;
    border-radius: 8px;
}

.faq-item {
    margin-bottom: 25px;
}

.faq-search input {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 15px;
    border: 3px solid var(--global-palette5);
    font-weight: bold;
}
